{
	auto_https off
}

(common) {
  header -Server
  encode
}

:80 {
	import common
	reverse_proxy /v9/* app:8090
	reverse_proxy app:3000
}

:3030 {
	import common
	reverse_proxy app:3030
}

:8090 {
	import common
	reverse_proxy app:8090
}
